#contact iframe
{
    width: 100%;
}
.travel_mainDiv{
border: 1px solid red;
}
.travel_mainDiv img{
width: 100% ;
}
.travel_mainDiv h5,.travel_mainDiv p{
margin-top: 20px;

}
.movie_text span{
color: black;
}
.movie_head{
font-size: 20px;
padding: 6px 22px;
border-radius: 10px;
margin-bottom: 15px;

}

